/* ~~~~~~~~~~~~~~~MAIN APP~~~~~~~~~~~~~~~ */

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* ~~~~~~~~~~~~~~~SIDEBAR~~~~~~~~~~~~~~~ */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  padding: 10px 5px;
  background-color: rgb(82, 82, 114);
  flex-shrink: 0;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-btns button,
.profile-btn {
  height: 50px;
}

.profile-btn {
  position: relative;
}

.profile-btn span {
  position: absolute;
  right: 5px;
  bottom: -1px;
}

/* ~~~~~~~~~~~~~~~LOGIN FORM~~~~~~~~~~~~~~~ */

.login-form button {
  display: block;
}

/* ~~~~~~~~~~~~~~~CHAT PAGE~~~~~~~~~~~~~~~ */

.chat-page {
  display: flex;
  flex-grow: 1;
}

.chat-column {
  width: 321px;
  background-color: rgb(174, 174, 212);
  border-right: solid black 1px;
  overflow-y: auto;
  flex-shrink: 0;
  padding: 20px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.chat-list {
  /* padding: 0px 20px; */
  /* overflow-y: auto; */
}

.chat-preview {
  border: solid black 1px;
  padding: 13px 10px;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
  max-width: 280px;
}

.chat-img,
.info-img {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px;
  position: relative;
  background-color: white;
}

.info-img span,
.chat-img span {
  position: absolute;
  right: 5px;
  bottom: -20px;
}

.chat-details {
  flex-grow: 1;
  width: 50%;
}

.preview-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.preview-time {
  font-size: 15px;
}

.preview-bottom {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.preview-msg {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ~~~~~~~~~~~~~~~INTRO PAGE~~~~~~~~~~~~~~~ */

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  background-color: rgb(174, 174, 212);
}

.intro-page img {
  width: 150px;
}

/* ~~~~~~~~~~~~~~~CHAT OUTLET~~~~~~~~~~~~~~~ */

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
  padding: 10px;
  background-color: rgb(140, 140, 184);
  /* height: fit-content; */
  align-items: center;
}

.info-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

#msg-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.msg {
  border: solid black 1px;
  max-width: 250px;
  min-width: 125px;
  border-radius: 5px;
  padding: 5px 10px;
}

.msg .author {
  font-size: 15px;
  margin-bottom: 3px;
}

.msg .text {
  margin-bottom: 3px;
  word-wrap: break-word;
}

.msg .time {
  font-size: 15px;
  text-align: right;
}

.full-date {
  overflow: hidden;
  text-align: center;
  margin: 10px 0 20px;
}

.full-date::before,
.full-date::after {
  background-color: #000;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 15%;
}

.full-date::before {
  right: 0.5em;
  margin-left: -50%;
}

.full-date::after {
  left: 0.5em;
  margin-right: -50%;
}

.msg-outer {
  display: flex;
  flex-direction: column;
}

.received {
  align-self: start;
}

.sent {
  align-self: end;
}

.send-bar {
  background-color: rgb(140, 140, 184);
  padding: 10px;
}

.msg-form {
  display: flex;
  gap: 10px;
}

.msg-form input {
  flex-grow: 1;
}

/* ~~~~~~~~~~~~~~~NEW CHAT POPUP~~~~~~~~~~~~~~~ */

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -100vmax);
  z-index: 10;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-popup {
  border-radius: 10px;
  background-color: rgb(82, 82, 114);
  border: rgb(70, 70, 97) solid 3px;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  width: 350px;
  position: relative;
  width: 360px;
  height: 350px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-users {
  height: 280px;
  overflow-y: auto;
}

.popup-users button {
  width: 295px;
  text-align: left;
  background-color: rgb(174, 174, 212);
  border: none;
  padding: 7px 5px;
  border-bottom: #000 solid 1px;
}

.popup-users button:last-child {
  border-bottom: none;
}

.btn-img {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
