* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button,
label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}
