* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px solid red !important;
} */

button,
label {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  cursor: pointer;
}
